.big-btn {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    padding: 16px;
    background: rgb(255, 172, 117);
    background: linear-gradient(90deg, rgba(255, 172, 117, 1) 0%, rgba(254, 100, 104, 1) 35%, rgba(173, 113, 242, 1) 100%);
    border-radius: 12px;
}

.big-btn:hover {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}